<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号管理</title>
    <!-- 引入jquery -->
    <script src="./libs/jquery/jquery.min.js"></script>
    <!-- vue.min.js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- elementui.min.js -->
    <script src="./libs/elementui/js/elementui.min.js"></script>
    <!-- elementui.min.css -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/userList.css">
    <!-- 发送验证是否登录请求 -->
    <script src="/users/checkIsLogin"></script>
</head>

<body>
    <!-- 创建模板 -->
    <div id="app">
        <el-container>
            <!-- 右边容器 -->
            <el-main>
                <!-- 顶部 -->
                <div class="el-main-top">
                    <h1>欢迎您
                        <span style="color: skyblue">{{loginForm.username}}</span>
                    </h1>
                    <p>查看所有管理员账号</p>
                </div>
                <!-- 中间主体 -->
                <div class="el-center">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <h4>账号管理</h4>
                        </div>
                        <!-- 账号管理 -->
                        <!-- 表格内容 -->
                        <el-table ref="multipleTable" :data="tableData" style="width: 100%" @selection-change="handleSelection">
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column prop="username" label="用户名称">
                            </el-table-column>
                            <el-table-column prop="groups" label="用户组">
                            </el-table-column>
                            <el-table-column label="日期">
                                <template slot-scope="scope">{{ scope.row.ctime.substr(0,10) }}</template>
                            </el-table-column>
                            <el-table-column label="管理    ">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="handleEdit(scope.row.id)" @click.native="dialogFormVisible = true">编辑</el-button>
                                    <el-button size="mini" type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <!-- 全选和取消选择 -->
                        <div style="margin-top: 20px;text-align: left">
                            <el-button @click="batchDel()">批量删除</el-button>
                            <el-button @click="toggleSelection()">取消选择</el-button>
                        </div>
                        <!-- 分页 -->
                        <div style="margin-top: 20px;text-align: center">
                            <el-pagination 
                            @size-change="handleSizeChange" 
                            @current-change="handleCurrentChange" 
                            :current-page="pageCurrent" 
                            :page-sizes="[1,3, 5, 10, 20]"
                            :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalData">
                            </el-pagination>
                        </div>
                    </el-card>
                    <!-- 弹出 -->
                    <!-- <el-button type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button> -->
                    <!-- 标题 -->
                    <el-dialog title="修改内容" :visible.sync="dialogFormVisible">
                        <!-- 表单内容 -->
                        <div id="loginForm">
                            <i class="el-icon-edit"></i>
                            <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="账&emsp;号" prop="username">
                                    <el-input type="text" v-model="loginForm.username" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="密&emsp;码" prop="password">
                                    <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="选择用户组" prop="groups">
                                    <el-select v-model="loginForm.groups" placeholder="请选择用户组">
                                        <el-option label="普通会员" value="普通会员"></el-option>
                                        <el-option label="超级会员" value="超级会员"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click.native="submitForm('loginForm')" @click="dialogFormVisible = false">修改</el-button>
                                    <el-button @click="resetForm('loginForm')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-dialog>
                </div>
                <!-- 底部 -->
                <div class="footer">
                    &copy;Copyright 2018 华联超市管理系统
                </div>
            </el-main>
        </el-container>
    </div>
    <script>
        // 创建实例
        new Vue({
            el: '#app',
            data() {

                //验证密码一致性
                let checkPass = (rule, value, callback) => {
                    //判断密码是否为空
                    if (value === '') {
                        // callback(new Error('请再次输入密码！'))
                    } else if (value != this.loginForm.password) {
                        callback(new Error('两次密码输入不一致！'))
                    } else {
                        callback();
                    }
                }
                return {
                    //分页
                    currentPage: 1,
                    totalData:'',
                    pageSize:3,
                    pageCurrent:1,
                    // multipleSelection: [],
                    //列表内容
                    tableData: [],
                    dialogTableVisible: false,
                    dialogFormVisible: false,
                    //表单内容
                    loginForm: [],
                    formLabelWidth: '120px',
                    rules: {   //验证登录的规则

                        //验证账户名
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' },
                            { min: 6, max: 12, message: '长度在 6 到 12 个字符', trigger: 'blur' }
                        ],
                        //验证密码
                        password: [
                            { required: true, message: '请输入用户密码', trigger: 'blur' },
                            { min: 6, max: 12, message: '长度在 6 到 12 个字符', trigger: 'blur' }
                        ],
                        //确定密码一致性
                        comfirmPassword: [
                            { required: true, message: '请再次输入密码！', trigger: 'blur' },
                            { validator: checkPass, trigger: 'blur' }
                        ],
                        groups: [
                            { required: true, message: '请至少选择一个', trigger: 'change' }
                        ]
                    },
                    //弹出表单

                }
            },
            //生命周期中created中发送ajax请求
            created() {
                //调用一次请求所有数据的方法
                this.getALLData();
                this.getLoginUser();
            },
            methods: {
                //分页方法
                handleSizeChange(val) {
                //绑定数据到页面
                    this.pageSize=val;
                    //点击时就调用一次请求数据的函数
                    this.getALLData();
                },
                handleCurrentChange(val) {
                    this.pageCurrent=val;
                    //点击时就调用一次请求数据的函数
                    this.getALLData();
                },
                //定义一个获取登录用户信息的方法
                getLoginUser() {
                    //获取cookie中的账号名
                    //     let username= document.cookie.substr(9,document.cookie.indexOf(';'));
                    //    let result=username.substr(0,username.indexOf(';'))
                    //把字符串分割成数组
                    let result = document.cookie.split(' ')
                    let user = result[0].substr(9, result[0].indexOf(';'));
                    let username = user.substr(0, user.indexOf(';'));
                    let pass = result[1].substr(9, result[1].indexOf(';'));
                    let oldPassword = pass.substr(0, pass.indexOf(';'));
                    let id = result[3].substr(3);
                    // console.log(username)
                    // console.log(oldPassword)
                    // console.log(id)
                    //保存原来的this
                    let _this = this;
                    //发送ajax请求请求原来数据
                    $.get(`/users/getOldData?id="${id}"`, function (data) {
                        console.log(data)
                        _this.loginForm = data[0];
                    })
                    //把数据绑定给输入框
                    // this.loginForm.password=oldPassword;

                },
                //获取所有数据的方法
                getALLData() {
                    //保存this
                    let _this = this;
                    //定义变量保存页数和分页数
                    let pageSize=this.pageSize;
                    let pageCurrent=this.pageCurrent;

                    $.get(`/users/userList?pageSize=${pageSize}&pageCurrent=${pageCurrent}`, function (data) {
                        _this.totalData = data.totalNum;
                        _this.tableData = data.data;
                    })
                },
                 //获取所有数据的方法
                //  getproData() {
                     
                //     //保存this
                //     let _this = this;
                //     //定义变量保存页数和分页数
                //     let pageCurrent=this.pageCurrent-1;

                //     $.get(`/users/userList?pageCurrent=${pageCurrent}`, function (data) {
                //         _this.totalData = data.totalNum;
                //         _this.tableData = data.data;
                //     })
                // },
                // 公共页面
                handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
                //手动编辑
                handleEdit(id) {
                    //保存this
                    let _this = this;
                    $.get(`/users/edit?id=${id}`, function (data) {
                        //把数据回填给添加页面
                        _this.loginForm = data[0];
                        console.log(_this.loginForm)
                    })
                },
                //更新
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //定义要发送的数据
                            let params = {
                                "username": this.loginForm.username,
                                "password": this.loginForm.password,
                                "groups": this.loginForm.groups,
                                "id": this.loginForm.id
                            }
                            //向后端发送ajax请求
                            $.post('/users/userAdd', params, function (data) {
                                //根据后端返回的信息判断
                                if (data.errcode == 1) {
                                    //成功
                                    alert('修改成功');
                                    //跳转到账号列表
                                    location.href = "./userList.html"
                                } else {
                                    alert('修改失败');
                                }
                            })
                        } else {
                            // console.log('不能提交');
                            return false;
                        }
                    });
                },
                //重置
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                //手动删除
                handleDelete(id) {
                    //保存this
                    let _this = this;
                    $.get(`/users/delete?id=${id}`, function (data) {
                        //再执行一次请求所有数据方法
                        _this.getALLData();
                    })
                },
                //取消选择
                toggleSelection(rows) {
                    //取消所有选中状态
                    this.$refs.multipleTable.clearSelection();
                },
                //手动选中
                handleSelection(val) {
                    this.multipleSelection = val;
                },
                //批量删除
                batchDel() {
                    //遍历出选中的数据数组
                    let checkArr = this.multipleSelection;
                    let idArr = checkArr.map(v => v.id);
                    //判断是否勾选了数据
                    if (!idArr.length) {
                        alert('请至少选择一条数据！');
                        return false;
                    }
                    // console.log(idArr)
                    //保存this
                    let _this = this;
                    //发送ajax请求给后端
                    $.post('/users/batchDel', { "id": idArr }, function (data) {
                        if (data.errcode === 1) {
                            alert(data.msg);
                            //调用请求所有数据的函数
                            _this.getALLData();
                        } else {
                            alert(data.msg)
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>