/* 定义基本样式 */
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#app{
    height: 100%;
    position: relative;
    /* background: url(../images/4.jpg); */
    background-position: center;
}
/* 定义登录框 */
#loginForm{
    display: none;
    width: 400px;
    height: 300px;
    border: 3px solid #ccc;
    padding-right: 30px;
    padding-bottom: 15px;
    border-radius: 7px;
    /* 定位登录框绝对居中 */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 850px;
    background-color: rgba(59, 72, 89, 0.8);
    z-index: 1000;
}
#loginForm .title{
    margin-left: 100px;
    color:#fff;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}
.el-form-item__label{
    color: #fff;
}


