

/* 定义基本样式 */
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/* 定义登录框 */
#loginForm{
    width: 400px;
    height: 210px;
    padding-bottom: 25px;
    border-radius: 7px;
}

#loginForm .el-input{
    width: 400px;
}
#loginForm .el-icon-edit{
    position: relative;
    top: -61px;
    left: 5px;
    font-size: 20px;
}